@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;

    @media (min-width: 450px) and (max-width: 600px) {
      font-size: 13px;
    }

    @media (max-width: 450px) {
      font-size: 10px;
    }
  }

  body {
    line-height: 1;
    max-width: 760px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
