@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    line-height: 1;
    max-width: 760px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  .h1 {
    @apply text-[1.75rem] leading-[140%] font-semibold; /* 28px */
  }
  .h2 {
    @apply text-[1.5rem] leading-[130%] font-semibold; /* 24px */
  }
  .h3 {
    @apply text-[1.25rem] leading-[130%] font-semibold; /* 20px */
  }
  .h4 {
    @apply text-[1.125rem] leading-[140%] font-semibold; /* 18px */
  }

  .b1 {
    @apply text-[1rem] leading-[140%] font-semibold; /* 16px */
  }
  .b2 {
    @apply text-[1rem] leading-[150%] font-medium;
  }
  .b3 {
    @apply text-[1rem] leading-[130%] font-normal;
  }
  .b4 {
    @apply text-[0.875rem] leading-[130%] font-semibold; /* 14px */
  }
  .b5 {
    @apply text-[0.875rem] leading-[130%] font-medium;
  }
  .b6 {
    @apply text-[0.875rem] leading-[130%] font-normal;
  }

  .caption1 {
    @apply text-[0.75rem] leading-[150%] font-bold; /* 12px */
  }
  .caption2 {
    @apply text-[0.75rem] leading-[150%] font-medium;
  }
}

/* Scroll Snap (중앙 정렬) */
.scroll-snap-x {
  scroll-snap-type: x mandatory;
}

.scroll-snap-align-center {
  scroll-snap-align: center;
}

.container {
  /* 100vh 대신 100 * --vh */
  height: calc(var(--vh) * 100 - 5.25rem);
}
